{% extends "index.html" %}

{% block title %}Manage Tags{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalTitle">Add Tag Set</h5>
                    <button type="button" class="btn-link p-0" data-bs-dismiss="modal" style="border: none; background: none; box-shadow: none;" onclick="editTagSet('', '', '', '')">
                        <img class="svg-danger" src="{{ url_for('static', filename='images/x-square.svg') }}" alt="Close" width="24" height="24">
                    </button>
                </div>
                <div class="modal-body">    
                    <!-- Tag Set Form -->
                    <form method="post" action="{{ url_for('manage_tags') }}">
                        <input type="hidden" id="tag_set_id" name="tag_set_id" value="">
                        <div class="mb-3">
                            <label for="tag_set_name" class="form-label">Tag Set Name:</label>
                            <input type="text" class="form-control" id="tag_set_name" name="tag_set_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="tags" class="form-label">Tags (one per line):</label>
                            <textarea id="tags" name="tags" class="form-control" rows="20" spellcheck="false" required></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100">Save Tag Set</button>
                    </form> 
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <h2>Manage Tags Sets</h2>
        <!-- Button trigger modal for adding a new trend -->
        <button type="button" class="btn-link p-0" data-bs-toggle="modal" data-bs-target="#formModal" style="border: none; background: none; box-shadow: none;" onclick="editTagSet('', '', '', 'Add Tag Set')">
            <img class="svg-add" src="{{ url_for('static', filename='images/plus.svg') }}" alt="Plus Icon" width="32" height="32">
        </button>
    </div>
    <!-- Existing Tag Sets -->
    <hr>

    {% for tag_set in tag_sets %}
    <div class="table-responsive mb-4">
        <table class="table table-bordered table-striped mb-0">
            <tbody>
                <tr>
                    <th class="text-nowrap" scope="row"><strong>Tag Set Name</strong></th>
                    <td><code>{{ tag_set['tag_set_name'] }}</code></td>
                    <td class="align-top text-center">
                        <!-- Delete Button -->
                        <form method="post" action="{{ url_for('delete_tag_set', id=tag_set['id']) }}" onsubmit="return confirmDelete();">
                            <button type="submit" class="btn-link p-0" style="border: none; background: none; box-shadow: none;">
                                <img class="svg-danger" src="{{ url_for('static', filename='images/x-square.svg') }}" alt="Delete" width="24" height="24">
                            </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th class="text-nowrap" scope="row"><strong>Tags</strong></th>
                    <td>
                        <textarea id="{{ tag_set['tag_set_name'] }}" 
                                  name="{{ tag_set['tag_set_name'] }}" 
                                  class="form-control" 
                                  rows="5" 
                                  spellcheck="false" 
                                  style="border: none; background: none; box-shadow: none;" 
                                  required>{{ tag_set['tags'] }}</textarea>
                    </td>
                    <td rowspan="2" class="align-top text-center">
                        <!-- Edit Button to trigger the Edit Modal -->
                        <button class="btn-link p-0" style="border: none; background: none; box-shadow: none;" data-bs-toggle="modal" data-bs-target="#formModal" onclick="editTagSet({{ tag_set['id'] }}, '{{ tag_set['tag_set_name'] }}', `{{ tag_set['tags'] }}`, 'Edit Tag Set')">
                            <img class="svg-edit" src="{{ url_for('static', filename='images/edit.svg') }}" alt="Edit" width="24" height="24">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}

    <script>
        function editTagSet(id, tagSetName, tags, modal_title) {
            console.log('editTagSet function triggered with:', { id, tagSetName, tags });
            document.getElementById('tag_set_id').value = id;
            document.getElementById('tag_set_name').value = tagSetName;
            document.getElementById('tags').value = tags; // tags should be a multiline string
            document.getElementById('formModalTitle').innerText = modal_title;
        }

        document.getElementById('tags').addEventListener('paste', function(event) {
            // Prevent the default paste action
            event.preventDefault();
            
            // Get the pasted text from the clipboard
            let pastedText = (event.clipboardData || window.clipboardData).getData('text');

            // Replace semicolons, commas, and spaces with new lines
            let formattedText = pastedText.replace(/[\s;,]+/g, '\n');

            // Split the text by new lines and filter out any empty lines
            let lines = formattedText.split('\n').filter(line => line.trim() !== '');

            // Get the existing content of the textarea
            let existingText = document.getElementById('tags').value;

            // Append the processed text to the existing content, adding a new line if necessary
            let finalText = existingText.trim() ? existingText + '\n' + lines.join('\n') : lines.join('\n');

            // Insert the final text into the textarea
            document.getElementById('tags').value = finalText;
        });
    </script>
{% endblock %}